/* Estilo para el header principal con el banner */
.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: white;
    font-size: 24px;
    border-top: 5px solid #d32f2f; /* Añade un borde rojo para que destaque como banner */
}

.header-main h1 {
    font-family: serif;
    font-size: 28px;
    color: #b00;
}

.directo {
    font-family: serif;
    font-size: 30px;
    color: #b00;
}

.directo {
    background-color: #d71414;
    padding: 2px;
    border-radius: 5px;
}

.directo:hover {
    background-color: #d71414;
}

.footer {
    margin-top: 32px;
    text-align: center;
    background-color: #d32f2f;
    color: #fff;
    padding: 16px 0;
}

/* Pantallas pequeñas (teléfonos) */
@media (max-width: 600px) {
    .header-main {
        flex-direction: column;
        align-items: center;
    }

    .header-main h1 {
        font-size: 22px;
    }

    .main-nav a {
        font-size: 18px;
    }
}

